/*
*
*Container
*
*/

div.container {
    width: 98%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
}


/*
*
*Header
*
*/

div.header {
    width: 100%;
    height: auto;
    border-top: 4px solid #F0831E;
    margin: 0 auto;
    display: inline-block;
}

div.header-inner h1 {
    font-size: 12px;
}

div.header-inner {
    width: 73%;
    height: auto;
    margin: 0 auto;
}

div.header-inner img {
    margin-top: 11px;
    max-width: 430px;
    width: 100%;
}

div.header-info {
    height: auto;
}

div.header-right {
    float: right;
    clear: right;
    font-size: 13px;
    text-align: right;
    height: 100%;
}

div.header-right img {
    max-width: 85%;
}

div.header-right p {
    padding: 1px 0px 0px 0px;
    margin: 0px;
}

div.header-right span {
    color: #F0831E;
}


/*
*
*Navigate
*
*/

div.nav {
    width: 100%;
    height: auto;
    margin: 5px 0px 0px 0px;
    background: url("images/bg_menu.jpg") repeat-x left top;
}

div.menus ul {
    height: 54px;
    list-style-type: none;
    padding: 0px;
    padding-left: 1px;
    margin: 1px 0px 0px 15px;
    overflow: hidden;
    background: url("images/line_menu.jpg") no-repeat top left;
}

div.menus {
    max-width: 965px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
}

div.menus ul li.menu1,
div.menus ul li.menu2,
div.menus ul li.menu3,
div.menus ul li.menu4,
div.menus ul li.menu5,
div.menus ul li.menu6,
div.menus ul li.menu7 {
    max-width: 133px;
    width: 100%;
    height: 54px;
    float: left;
    clear: none;
    margin-right: 2px;
    background: url("images/line_menu.jpg") no-repeat right center;
}

div.menus ul li a {
    display: block;
    height: 53px;
}

div.menus ul li.menu1 a.active {
    background: url("images/menu_1_hover.jpg") no-repeat center center;
}

div.menus ul li.menu1 a.active img {
    display: none;
}

div.menus ul li a.menu1:hover img,
div.menus ul li a.menu2:hover img,
div.menus ul li a.menu3:hover img,
div.menus ul li a.menu4:hover img,
div.menus ul li a.menu5:hover img,
div.menus ul li a.menu6:hover img,
div.menus ul li a.menu7:hover img {
    display: none;
}

div.menus ul li a.menu1:hover {
    background: url("images/menu_1_hover.jpg") no-repeat center center;
}

div.menus ul li a.menu2:hover {
    background: url("images/menu_2_hover.jpg") no-repeat center center;
}

div.menus ul li a.menu3:hover {
    background: url("images/menu_3_hover.jpg") no-repeat center center;
}

div.menus ul li a.menu4:hover {
    background: url("images/menu_4_hover.jpg") no-repeat center center;
}

div.menus ul li a.menu5:hover {
    background: url("images/menu_5_hover.jpg") no-repeat center center;
}

div.menus ul li a.menu6:hover {
    background: url("images/menu_6_hover.jpg") no-repeat center center;
}

div.menus ul li a.menu7:hover {
    background: url("images/menu_7_hover.jpg") no-repeat center center;
}

div.menus ul li ul.subNav a {
    color: black;
    text-decoration: none;
    text-align: center;
}

div.menus ul li.menu3 ul.subNav,
div.menus ul li.menu4 ul.subNav {
    display: none;
    margin-left: 0px;
}

div.menus ul li.menu4:hover ul.subNav,
div.menus ul li.menu3:hover ul.subNav {
    background: none repeat scroll 0 0 #ffc472;
    display: block;
    height: auto;
    width: 133px;
    position: absolute;
}

div.menus ul li ul.subNav li.subNav_no_b {
    border: none;
}

div.menus ul li ul.subNav li {
    border-bottom: 1px solid #d19c5d;
    height: 30px;
    margin: 5px 5px 5px 5px;
    font-size: 13px;
}

div.menus ul li ul.subNav li.subNav:hover {
    background: url("images/bg_menu_sub.jpg");
}

div.menus ul li ul.subNav li.subNav:hover a {
    color: #ffffff;
}


/*
*
*Slider
*
*/

div.slider {
    padding: 0px;
    margin-top: -15px;
    list-style-type: none;
    background: url("images/bg_banner.jpg") repeat-x top left;
    position: relative;
    z-index: -2;
}

div.slider-inner {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

div.slider-inner ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
}


/*
*
*Main content
*
*/

div.main {
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.hover-element:hover {
    opacity: 0.5;
}


/*
*
*Content
*
*/

div.content {
    max-width: 730px;
    width: 100%;
    overflow: hidden;
    margin-top: 4px;
    float: left;
    clear: none;
}

div.content-inner {
    overflow: hidden;
}

div.content-inner img {
    margin-top: 10px;
}

div.title1 {
    background: url("images/line_title.jpg") no-repeat left bottom;
}

div.title1 img {
    margin-bottom: 5px;
    margin-left: 12px;
}

div.paragraph {
    font-size: 13px;
    max-width: 420px;
    width: 100%;
    float: right;
    clear: right;
    margin-right: 25px;
}

div.title2 {
    background: url("images/line_title.jpg") no-repeat left bottom;
    margin-top: 28px;
    display: inline-block;
    width: 100%;
}

div.title2 img {
    margin-bottom: 5px;
    margin-left: 12px;
}


/*
*
*Box in content
*
*/

div.box {
    max-width: 218px;
    width: 100%;
    height: 338px;
    text-align: left;
    border: 1px solid #d9d9d9;
    float: left;
    clear: none;
    margin-right: 20px;
    margin-top: 26px;
}

div.aside-box a {
    margin-top: 20px;
}

div.box p {
    font-size: 13px;
    margin: 0px 5px;
}

div.box img {
    margin: 0px;
}

div.box a {
    margin-bottom: 0px;
    margin-left: 10px;
    height: 30px;
    display: inline-block;
}


/*
*
*Index
*
*/

div.title3 {
    background: url("images/line_title.jpg") no-repeat left bottom;
    display: inline-block;
    margin-top: 33px;
    width: 100%;
}

div.title3 img {
    margin-bottom: 5px;
    margin-left: 12px;
}

div.title3 a img {
    float: right;
    clear: right;
    margin-right: 32px;
}

dl.index {
    font-size: 14px;
    overflow: hidden;
    margin-top: 24px;
}

dl.index dt {
    background: url("images/bullet_1.jpg") no-repeat left center;
    padding-left: 28px;
    padding-right: 16px;
    margin-left: 15px;
    float: left;
}

dl.index dd {
    background: url("images/bg_index_dl.jpg") repeat-x left bottom;
    padding-bottom: 26px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 50px;
    width: 96%;
}


/*
*
*Aside
*
*/

div.aside {
    max-width: 230px;
    width: 100%;
    float: right;
    clear: right;
    margin-top: 6px;
}

div.aside a.link1 img {
    margin-top: 22px;
}


/*
*
*Block in aside
*
*/

div.outer-block {
    border: 1px solid #e9dfd9;
    margin-top: 14px;
}

div.inner-block {
    margin: 4px;
    border: 1px solid #e9dfd9;
}

div.inner-block img {
    margin-top: 17px;
    margin-left: 10px;
}

div.inner-block ul {
    list-style-type: none;
    margin-top: 5px;
    margin-left: -30px;
    margin-right: 20px;
}

div.inner-block ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

div.inner-block ul li a:hover {
    text-decoration: underline;
}

div.inner-block ul li.li_1 {
    background: url("images/aside_bullet_1.jpg") no-repeat left center;
    border-bottom: 1px solid #e9dfd9;
    padding-left: 20px;
    margin-left: 8px;
    margin-top: 5px;
}

div.inner-block ul li {
    background: url("images/aside_bullet_2.jpg") no-repeat left center;
    padding-left: 16px;
    margin-left: 22px;
    height: 22px;
}

div.aside-block2 {
    border: 4px solid #e9dfd9;
    margin-top: -10px;
    margin-left: 5px;
}

div.inner-aside-block2 {
    margin: 20px 0px 0px 16px;
    font-size: 13px;
}

div.inner-aside-block2 img {
    margin-left: 5px;
    margin-top: -4px;
}

div.inner-aside-block2 p.work-hours {
    margin-top: 3px;
}

div.inner-aside-block2 a img {
    margin-top: 2px;
    margin-left: 2px;
    padding-bottom: 10px;
}

.aside_map {
    width: 189px;
    height: 120px;
    display: inline-block;
}


/*
*
*Footer
*
*/

div.footer {
    font-size: 13px;
    overflow: hidden;
    background: url("images/footer_bg.jpg");
    margin-top: 45px;
}

div.footer-inner {
    overflow: hidden;
    padding: 50px;
    padding-bottom: 30px;
    width: 80%;
    margin-left: 140px;
    margin-top: -15px;
}

div.footer ul {
    list-style-type: none;
}

div.footer ul li a {
    color: black;
    text-decoration: none;
}

div.footer ul li a:hover {
    text-decoration: underline;
}

div.footer-block1,
div.footer-block2,
div.footer-block3 {
    float: left;
    clear: none;
}

div.footer-block2 {
    border: 1px solid #e7d3c1;
    max-width: 310px;
    width: 100%;
    height: 204px;
    margin-right: 20px;
    margin-left: 32px;
}

div.footer-block3 {
    background: url("images/footer_bg_r.png");
    max-width: 200px;
    width: 100%;
    height: 204px;
}

div.footer-block1 p {
    margin-top: 3px;
    margin-left: 3px;
}

div.footer-block1 img {
    margin-top: -2px;
    margin-left: 5px;
}

div.footer-block2 ul {
    float: left;
    clear: none;
    margin-top: 25px;
}

div.footer-block2 ul li {
    background: url("images/footer_bullet.png") no-repeat left center;
    padding-left: 5px;
    margin-bottom: 5px;
}

div.footer-block3 ul {
    margin-left: -6px;
    margin-top: 20px;
}

div.footer-block3 ul li.menu_1 {
    background: url("images/footer_bullet_2.png") no-repeat left center;
    padding-left: 15px;
    padding-bottom: 7px;
    margin-left: -5px;
}

div.footer-block3 ul li {
    background: url("images/footer_bullet.png") no-repeat left center;
    padding-left: 15px;
}


/*
*
*Page top
*
*/

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#page-top a {
    background: #f0831e;
    border-radius: 5px;
    width: 80px;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    padding: 20px;
}


/*
*
*Copyright
*
*/

div.copyright {
    background: #f88e01;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    padding: 8px;
    margin-top: 2px;
}